main {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    background-color: beige;
    border: 1px solid black;
}

div {
    border: 1px solid black;
    margin: 5px;
    width: 100px;
    height: 100px;
}